@font-face{
    font-family: "phi";
    src: url("../fonts/PatuaOne-Regular.ttf")
}

*{
    margin: 0
}
body{
    background-color: #e8cecd96;
    margin-left: 8vw;
    margin-right: 8vw;
}
.header{
    background-color: #c899f7;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
h1{
    color: #040400;
    font-family: "phi";
    font-size: 24px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    min-width: 80vw;
}

.date-num{
    font-family: "phi";
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.date-container{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.date-pic{
    height: 40vw;
    border-radius: 30px;
    border: solid 3px #9896E0;
    box-shadow: 2px 2px 5px;
    margin-bottom: 15px;
}

.txt-date{
    text-align: center;
    font-family: "phi";
    padding-left: 5px;
}

#divisor{
    border-bottom: solid 2px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#date2-pic2{
    width: 30vw;
}